@import url("https://fonts.googleapis.com/css2?family=Catamaran&display=swap");

html {
  font-family: "Catamaran", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
}

#content {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
  background: #ffb;
  padding: 16px 32px;
}

main {
  width: 100%;
  background: #300;
  min-height: 49vh;
  height: auto;
  padding: 32px;
  color: #f9ab3c;
}
